body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
  width: 300px; /* Increase the width */
  box-sizing: border-box;
}

h1 {
  color: #333;
  font-size: 1.2em; /* Adjust the font size if necessary */
}

input[type="text"], input[type="file"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure the padding and border are included in the width */
}

button {
  width: 100%; /* Make buttons full width */
  padding: 10px 15px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box; /* Ensure the padding and border are included in the width */
}

#addButton, #importButton, #exportButton {
  background-color: #007bff;
  color: white;
}

#addButton:hover, #importButton:hover, #exportButton:hover {
  background-color: #0056b3;
}

.remove-button, .edit-button {
  width: 50px; /* Fixed width */
  padding: 5px; /* Smaller padding */
  margin-left: 5px; /* Add margin to space out buttons */
  font-size: 0.9em; /* Smaller font size */
  border-radius: 4px;
  cursor: pointer;
}

.remove-button {
  background-color: #dc3545;
  color: white;
}

.remove-button:hover {
  background-color: #c82333;
}

.edit-button {
  background-color: #ffc107;
  color: white;
}

.edit-button:hover {
  background-color: #e0a800;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: white;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

li span {
  flex-grow: 1;
}

li .button-container {
  display: flex;
  align-items: center;
}
